<section class="chat-room">
    <h5>Chat - Room!</h5>
    <div *ngIf="isConnected === true" class="isConnected">
        <h4>Bienvenido {{ user }}</h4>
    </div>
    <div *ngIf="isDisconnected === true" class="isConnected">
        <h4>Ups! Algo salió mal, intente más tarde</h4>
    </div>
    <div class="container-chat">
        <div class="container-users">
            <h5>Usuarios conectados</h5>
            <div class="container-users-log" *ngIf="users">
                <div class="container-image-user" *ngFor="let usu of users">
                    <!-- <div class="image-chat"></div> -->
                    <p class="users" > {{usu}} </p>
                </div>
            </div>
        </div>
        <div class="container-text-chat">
            <div class="container-text">
                <div *ngFor="let message of messages">
                    <div class="container-image-text">
                        <div class="image-chat"></div>
                        <div>
                            <button id="txt-chat" mat-raised-button color="" class="txt-chat">
                                <p class="txt">  {{ message }}</p>
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
                
            </div>
        </div>

        <div class="form-chat">
            <mat-form-field class="input-chat">
                <mat-label>¿En qué piensas?</mat-label>
                <input 
                    [(ngModel)]="msg" 
                    matInput 
                    placeholder="Escribe algo :D"
                    maxlength="150">
            </mat-form-field>
            <br>
            <button 
                mat-raised-button 
                color="primary" 
                class="btn-chat-send"
                (click)="sendMessage()"
                type="button">
                Enviar
            </button>
        </div>
    </div>
    
</section>