<section class="chat-room">
    <h5>Chat - Room!</h5>
    <div class="isConnected">
        <h4>Bienvenido</h4>
    </div>
    <div class="isConnected">
        <h4>Ups! Algo salió mal, intente más tarde</h4>
    </div>
    <div class="container-chat">
        <div class="container-users">
            <h5>Usuarios conectados</h5>
            <div class="container-users-log">
                <div class="container-image-user">
                    <p class="users" > </p>
                </div>
            </div>
        </div>
        <div class="container-text-chat">
            <div class="container-text">
                    <div id="messages-container" *ngFor="let message of messages">
                        <div class="container-image-text">
                            <div class="image-chat"></div>
                            <div>
                                <button id="txt-chat" mat-raised-button color="" class="txt-chat">
                                    <p class="txt">{{message.username}}: {{message.text}} </p>
                                </button>
                            </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="form-chat">
            <mat-form-field class="input-chat">
                <mat-label>¿En qué piensas?</mat-label>
                <input 
                    matInput
                    [(ngModel)]="msg"
                    placeholder="Escribe algo :D"
                    maxlength="150">
            </mat-form-field>
            <br>
            <button 
                mat-raised-button 
                color="primary" 
                class="btn-chat-send"
                (click)="sendMessage()"
                type="button">
                Enviar
            </button>
        </div>
    </div>
    
</section>